In [2]:
## Reading differnt data source with the help of pandas
from io import StringIO

## StringIO --- in memeory file object

In [3]:
import pandas as pd

If the data in string format first 
1. we convert the string data into the memory format object
2. then we read with the csv fromat

In [4]:
data=('col1,col2,col3\n'
     'a,b,1\n'
     'c,d,2\n'
     'e,f,3\n')

In [5]:
type(data)

str

In [6]:
## in memory file format object
StringIO(data)

In [7]:
df=pd.read_csv(StringIO(data))
df

  col1 col2  col3
0    a    b     1
1    c    d     2
2    e    f     3

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
# only show or view the perticualr column
pd.read_csv(StringIO(data),usecols=['col3'])

   col3
0     1
1     2
2     3

In [13]:
#to save the file in to the csv
df.to_csv('test1.csv')

In [15]:
df=pd.read_csv('mercedesbenz.csv')

In [16]:
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [17]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df=pd.read_csv('mercedesbenz.csv',usecols=['X0'])

In [22]:
df

      X0
0      k
1      k
2     az
3     az
4     az
...   ..
4204  ak
4205   j
4206  ak
4207  al
4208   z

[4209 rows x 1 columns]

In [26]:
#Data Types in csv

data=('col1,col2,col3\n'
     'a,b,1\n'
     'c,d,2\n'
     'e,f,3\n'
     'g,h')

In [27]:
data

'col1,col2,col3\na,b,1\nc,d,2\ne,f,3\ng,h'

In [29]:
df=pd.read_csv(StringIO(data))

In [30]:
df

  col1 col2  col3
0    a    b   1.0
1    c    d   2.0
2    e    f   3.0
3    g    h   NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col2    4 non-null      object
 2   col3    3 non-null      float64
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

In [39]:
# change the data type 

df=pd.read_csv(StringIO(data),dtype='string')

In [35]:
df.head()

  col1 col2  col3
0    a    b     1
1    c    d     2
2    e    f     3
3    g    h  <NA>

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      string
 1   col2    4 non-null      string
 2   col3    3 non-null      string
dtypes: string(3)
memory usage: 228.0 bytes

In [38]:
df.isnull().sum()

col1    0
col2    0
col3    1
dtype: int64

In [45]:
# change the each column data type

data=('col1,col2,col3\n'
     '1,2,3\n'
     '5,4,2\n'
     '6,7,8\n'
     '0,9')

In [47]:
df=pd.read_csv(StringIO(data),dtype={'col1':int,'col2':int})

In [48]:
df

   col1  col2  col3
0     1     2   3.0
1     5     4   2.0
2     6     7   8.0
3     0     9   NaN

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int32
 1   col2    4 non-null      int32
 2   col3    3 non-null      float64
dtypes: float64(1), int32(2)
memory usage: 196.0 bytes

In [50]:
data = ('index,a,b,c\n'
           '4,apple,bat,5.7\n'
            '8,orange,cow,10')

In [51]:
pd.read_csv(StringIO(data))

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [56]:
#get the index for given numberabs 
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [62]:
# use index cols and usecols 
pd.read_csv(StringIO(data),usecols=['index','a','b'],index_col=0)

            a    b
index
4       apple  bat
8      orange  cow

In [65]:
# to get the file in csv which 
pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

HTTPError: HTTP Error 403: Forbidden